.w30{
  width: 30%
}
.w40{
  width: 40%
}
.w50{
  width: 50%
}
.w100{
  width: 100%
}
.flex-line{
  display: flex;
  flex-flow: row nowrap;
}
.el-select{
  display: block;
}
.submitBtn{
  margin-top: 50px;
  text-align: center;
}
